Source: ros-hydro-cram-designators
Section: misc
Priority: extra
Maintainer: Lorenz Moesenlechner <moesenle@cs.tum.edu>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-alexandria, ros-hydro-catkin, ros-hydro-cram-language, ros-hydro-cram-reasoning, ros-hydro-cram-utilities, ros-hydro-lisp-unit, ros-hydro-trivial-garbage, sbcl
Homepage: http://cram-project.org
Standards-Version: 3.9.2

Package: ros-hydro-cram-designators
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-alexandria, ros-hydro-cram-language, ros-hydro-cram-reasoning, ros-hydro-cram-utilities, ros-hydro-lisp-unit, ros-hydro-trivial-garbage, sbcl
Description: cram_designators defines the protocol for designators and provides an implementation for location, object and action designators.
