Source: ros-groovy-cram-utilities
Section: misc
Priority: extra
Maintainer: Lorenz Moesenlechner <moesenle@cs.tum.edu>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-alexandria, ros-groovy-catkin, ros-groovy-lisp-unit, ros-groovy-synchronization-tools, sbcl
Homepage: http://cram-project.org
Standards-Version: 3.9.2

Package: ros-groovy-cram-utilities
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-alexandria, ros-groovy-lisp-unit, ros-groovy-synchronization-tools, sbcl
Description: This packages contains some basic lisp utilities. This includes pattern matching and lazy lists.
